<h1>Two Way Binding</h1>

<p>
    A associação bidirecional oferece aos componentes em seu aplicativo uma maneira de compartilhar dados. 
    Use a associação bidirecional para ouvir eventos e atualizar valores simultaneamente entre componentes pai e filho.
    Nesse exemplo iremos utilizar o ngModel, ele cria uma FormControlinstância de um modelo de domínio e a 
    vincula a um elemento de controle de formulário.
</p>

<input [(ngModel)]="nome" placeholder="Digite allguma coisa . . .">
Este é o valor do dado digitado sendo armazenado na variávél nome: {{ nome }}
