<h1>
    <li>
        NgIf
    </li>
</h1>

<p>
    Uma diretiva estrutural que inclui condicionalmente um modelo baseado no valor de uma expressão coagida para Boolean. <br>
    Quando a expressão é avaliada como verdadeira, o Angular renderiza o modelo fornecido em uma thencláusula e, quando falso ou nulo, <br>
    o Angular renderiza o modelo fornecido em uma elsecláusula opcional. O modelo padrão para a elsecláusula está em branco. <br>
    <a href="https://angular.io/api/common/NgIf#description" target="_blank">Documentação ngIf</a>

</p>

<h1 *ngIf="condition; else elseBlock">True</h1>

<ng-template #elseBlock>
    <h1>
        False
    </h1>
</ng-template>

<br>

<h2 *ngIf="click">
    True
</h2>

<h2 *ngIf="!click">
    False
</h2>

<button (click)="onClick()">Cick</button>

<hr>

