<h1>
    <li>
        @Imput
    </li>
</h1>

<p>
    {{ contador }}
</p>

<p>
    Decorador que marca um campo de classe como uma propriedade de entrada e fornece metadados de configuração. <br>
    A propriedade de entrada está vinculada a uma propriedade DOM no modelo. Durante a detecção de alterações, <br>
    o Angular atualiza automaticamente a propriedade de dados com o valor da propriedade DOM. <br>
    <a href="https://angular.io/api/core/Input" target="_blank" >Documentação @Input</a>
</p>

