<ng-content >

</ng-content>

<p>
    A forma mais básica de projeção de conteúdo é a projeção de conteúdo de slot único . <br> 
    A projeção de conteúdo de slot único refere-se à criação de um componente no qual você pode projetar um componente. <br>
    A projeção de conteúdo é um padrão no qual você insere, ou projeta , o conteúdo que deseja usar dentro de outro componente. <br> 
    Por exemplo, você pode ter um Cardcomponente que aceita conteúdo fornecido por outro componente.
    <a href="https://angular.io/guide/content-projection" target="_blank" >Documentação ngContent</a>
</p>
