<h1>Interpolation</h1>
<p> 
    * Interpolation nada mais é do que informar dados no html, ou seja, inserir lógica <br>
    * dentro do html através das chaves, por exemplo abrese dois colchetes e coloca a variável no meio, aqui no arquivo .ts a gente cria <br>
    * um método nome public, e depois podemos inserir ele em nosso component.html através das chaves mencionadas acima. <br>
</p>

O {{ nome }} tem {{ idade }} anos de idade, sua idade quando somada com + {{ number }} é igual á {{ idade + number}}.

<hr>

