<h1>Property Binding</h1>

<p>
    Vamos testar o property binding na prática, para isso iremos inserir um button que acrescenta +1 em uma determinada 
    variável quando selecionado.
    A vinculação de propriedades em Angular ajuda a definir valores para propriedades de elementos ou diretivas HTML. 
    Use a associação de propriedade para fazer coisas como a funcionalidade do botão de alternância, definir caminhos programaticamente e 
    compartilhar valores entre componentes.
</p>

<button (click)="somar()" > Somar +1 </button>
<button (click)="diminuir()"> Diminuir -1 </button>
