<h1>
    <li>
        ngSwitch
    </li>
</h1>

<p>
    A diretiva em um contêiner especifica uma expressão para corresponder. As expressões a serem correspondidas são fornecidas por diretivas em <br>
    exibições dentro do contêiner.[ngSwitch]ngSwitchCase. <br>
    <a href="https://angular.io/api/common/NgSwitch" target="_blank">Documentação ngSwitch</a> <br>

    <li>Cada visualização que corresponde é renderizada.</li> <br>
    <li>Se não houver correspondências, uma exibição com a ngSwitchDefaultdiretiva será renderizada.</li>  <br>
    <li>Elementos dentro da instrução, mas fora de qualquer diretiva ou são preservados no local.[NgSwitch]NgSwitchCasengSwitchDefault</li> <br>  
    
</p>

<input type="text" [(ngModel)]="name">

<div [ngSwitch]="name">

    <p *ngSwitchCase=" 'Johnny' ">
        Nome está correto, o nome é {{ name }}
    </p>

    <p *ngSwitchCase=" 'Bruna' ">
        Nome está correto, o nome é Bruna
    </p>

    <div id="error">
        <p *ngSwitchDefault>
            Error
        </p>
    </div>

</div>

<hr>


